<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsQuery" version="1.3.4" targetFramework="net45" />
  <package id="Nancy" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Testing" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.22.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>