// [ FAKE GROUP ]
group netcore
source https://nuget.org/api/v2
//source https://ci.appveyor.com/nuget/paket
source https://ci.appveyor.com/nuget/fake

nuget Fake.Runtime prerelease
nuget FSharp.Core prerelease