body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    flex: 1;
    overflow: auto;
}

nav.navbar {
    z-index: 99 !important;
}

.navbar a {
    color: #f5f5f5;
}

.navbar-item .buttons a:hover {
    color: #aeb9c7;
}

a i.fa {
    color: #222;
}

footer {
    position: relative;
    z-index: 98;
}

footer ul li {
    border-top: solid 1px rgba(238, 238, 238, 0.075);
    padding: 0.5em 0 0 0;
    margin: 0.5em 0 0 0;
}

footer ul li:first-child {
    border-top: 0;
    padding: 0;
    margin: 0;
}

.footer-contact .column {
    padding: 0.25rem 0.75rem;
}

.navbar-item.no-hover:hover {
    background: none !important;
}

section.is-small {
    padding: 6rem 1.5rem;
}

.content a {
    color: #222;
    text-decoration: underline;
}

.content .anchor {
    text-decoration: none;
}

.content .anchor::before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .code-toolbar > pre.fssnip {
        max-width: calc(100vw - 46px);
    }
}

@media screen and (min-width: 769px) {
    .same-height-columns {
        display: flex !important;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .same-height-column {
        display: flex !important;
        flex-flow: column nowrap;
    }

    .same-height-columns .button.at-bottom {
        margin-top: auto;
        width: 160px;
    }
}

@media screen and (min-width: 1088px) {
    .navbar-dropdown .navbar-item .navbar-dropdown {
        left: 100%;
        top: -0.6rem;
    }

    .navbar-item:hover .navbar-dropdown .navbar-item:not(:hover) .navbar-dropdown {
        display: none;
    }

    .navbar-item:hover {
        background-color: #282e37;
    }

    .navbar-item .navbar-dropdown .navbar-item.has-dropdown {
        padding-right: 0 !important;
    }

    .navbar-item .navbar-dropdown .navbar-item .navbar-link {
        background: none !important;
        padding: 0 4rem 0 0;
        width: 100%;
    }
}

/*--------------------------------------------------------------------------
  Formatting for F# code snippets
/*--------------------------------------------------------------------------*/

/* identifier */

span.i, .token.identifier {
    color: #d1d1d1;
}

/* string */

span.s, .token.string {
    color: #d4b43c;
}

/* keywords */

span.k, .token.keyword {
    color: #4e98dc;
}

/* comment */

span.c, .token.comment {
    color: #96C71D;
}

/* operators */

span.o, .token.operator {
    color: #af75c1;
}

/* numbers */

span.n, .token.number {
    color: #96C71D;
}

/* line number */

span.l {
    color: #80b0b0;
}

/* inactive code */

span.inactive {
    color: #808080;
}

/* preprocessor */

span.prep, .token.preprocessor {
    color: #d1d1d1;
}

/* fsi output */

span.fsi {
    color: #808080;
}

/* omitted */

span.omitted {
    background: #3c4e52;
    border-radius: 5px;
    color: #808080;
    padding: 0px 0px 1px 0px;
}

/* tool tip */

div.tip {
    background: #475b5f;
    border-radius: 4px;
    font: 11pt 'Droid Sans', arial, sans-serif;
    padding: 6px 8px 6px 8px;
    display: none;
    color: #d1d1d1;
}

div.tip strong {
    color: #d1d1d1;
}

table.pre,
pre.fssnip,
pre {
    line-height: 13pt;
    border: 1px solid #d8d8d8;
    border-collapse: separate;
    white-space: pre;
    background-color: #2d2d2d;
    padding: 10px;
    border-radius: 5px;
    color: #d1d1d1;
}

table.pre pre {
    width: 100%;
    padding: 0 0 5px 0;
    margin: 0;
    border: none;
    border-radius: 0px;
}

table.pre code {
    display: inline-block;
    /* Width is set to 10px so the code block doesn't breakout of the pre element */
    width: 10px;
}

table.pre td {
    padding: 0px;
    white-space: normal;
    margin: 0px;
    border: none;
}

table.pre td.lines {
    width: 30px;
}

/* Spacing Helper */
.m-none { margin: 0; }
.p-none { padding: 0; }
.m-t-none { margin-top: 0; }
.p-t-none { padding-top: 0; }
.m-r-none { margin-right: 0; }
.p-r-none { padding-right: 0; }
.m-b-none { margin-bottom: 0; }
.p-b-none { padding-bottom: 0; }
.m-l-none { margin-left: 0; }
.p-l-none { padding-left: 0; }
.m-xxs { margin: 0.125rem; }
.p-xxs { padding: 0.125rem; }
.m-t-xxs { margin-top: 0.125rem; }
.p-t-xxs { padding-top: 0.125rem; }
.m-r-xxs { margin-right: 0.125rem; }
.p-r-xxs { padding-right: 0.125rem; }
.m-b-xxs { margin-bottom: 0.125rem; }
.p-b-xxs { padding-bottom: 0.125rem; }
.m-l-xxs { margin-left: 0.125rem; }
.p-l-xxs { padding-left: 0.125rem; }
.m-xs { margin: 0.25rem; }
.p-xs { padding: 0.25rem; }
.m-t-xs { margin-top: 0.25rem; }
.p-t-xs { padding-top: 0.25rem; }
.m-r-xs { margin-right: 0.25rem; }
.p-r-xs { padding-right: 0.25rem; }
.m-b-xs { margin-bottom: 0.25rem; }
.p-b-xs { padding-bottom: 0.25rem; }
.m-l-xs { margin-left: 0.25rem; }
.p-l-xs { padding-left: 0.25rem; }
.m-sm { margin: 0.5rem; }
.p-sm { padding: 0.5rem; }
.m-t-sm { margin-top: 0.5rem; }
.p-t-sm { padding-top: 0.5rem; }
.m-r-sm { margin-right: 0.5rem; }
.p-r-sm { padding-right: 0.5rem; }
.m-b-sm { margin-bottom: 0.5rem; }
.p-b-sm { padding-bottom: 0.5rem; }
.m-l-sm { margin-left: 0.5rem; }
.p-l-sm { padding-left: 0.5rem; }
.m-md { margin: 1rem; }
.p-md { padding: 1rem; }
.m-t-md { margin-top: 1rem; }
.p-t-md { padding-top: 1rem; }
.m-r-md { margin-right: 1rem; }
.p-r-md { padding-right: 1rem; }
.m-b-md { margin-bottom: 1rem; }
.p-b-md { padding-bottom: 1rem; }
.m-l-md { margin-left: 1rem; }
.p-l-md { padding-left: 1rem; }
.m-lg { margin: 2rem; }
.p-lg { padding: 2rem; }
.m-t-lg { margin-top: 2rem; }
.p-t-lg { padding-top: 2rem; }
.m-r-lg { margin-right: 2rem; }
.p-r-lg { padding-right: 2rem; }
.m-b-lg { margin-bottom: 2rem; }
.p-b-lg { padding-bottom: 2rem; }
.m-l-lg { margin-left: 2rem; }
.p-l-lg { padding-left: 2rem; }
.m-xl { margin: 4rem; }
.p-xl { padding: 4rem; }
.m-t-xl { margin-top: 4rem; }
.p-t-xl { padding-top: 4rem; }
.m-r-xl { margin-right: 4rem; }
.p-r-xl { padding-right: 4rem; }
.m-b-xl { margin-bottom: 4rem; }
.p-b-xl { padding-bottom: 4rem; }
.m-l-xl { margin-left: 4rem; }
.p-l-xl { padding-left: 4rem; }
.m-xxl { margin: 8rem; }
.p-xxl { padding: 8rem; }
.m-t-xxl { margin-top: 8rem; }
.p-t-xxl { padding-top: 8rem; }
.m-r-xxl { margin-right: 8rem; }
.p-r-xxl { padding-right: 8rem; }
.m-b-xxl { margin-bottom: 8rem; }
.p-b-xxl { padding-bottom: 8rem; }
.m-l-xxl { margin-left: 8rem; }
.p-l-xxl { padding-left: 8rem; }
