root = true
###############################
# Core EditorConfig Options   #
###############################
# All files
[*]                            # Do not apply to all files not to break something
guidelines = 80 dashed, 100
# Either crlf | lf, default is system-dependent (when not specified at all)
# end_of_line=crlf
# Remove whitespace at the end of any line

# Code files
[*.{cs,csx,fs,fsi,fsx}]
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = space # default=space
indent_size              = 4     # default=4
charset                  = utf-8

# Project files and app specific XML files
[*.{csproj,fsproj,shproj,projitems,props,xaml}]
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = space
indent_size              = 2

# XML configuration files
[{app.config,nuget.config,packages.config,web.config}]
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = space
indent_size              = 2

# XML files
[*.xml]
trim_trailing_whitespace = false # do not trim as it affects CData
insert_final_newline     = true
indent_style             = space
indent_size              = 2

# JSON and YAML files
[*.{json,yml,yaml}]
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = space
indent_size              = 2

# Proto files
[*.proto]
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = space
indent_size              = 4

###############################
# F# Coding Conventions       #
###############################
# filetypes that need to be formatted by Fantomas:
[*.{fs,fsx}]

# files to be ignored for Fantomas may go into this file, if present:
# .fantomasignore

# indentation size, default=space
# indent_style             = space

# indentation size, default=4
# indent_size = 4

# line length before it gets broken down into multiple lines
# default 120
# max_line_length=120

# Either crlf | lf, default is system-dependent (when not specified at all)
# end_of_line=crlf

# false: let a = [1;2;3]
# true: let a = [ 1;2;3 ]
# default true
fsharp_space_around_delimiter=true

# breaks a single-line record declaration
# i.e. if this gets too wide: { X = 10; Y = 12 }
# default 40
fsharp_max_record_width=60

# breaks a record into one item per line if items exceed this number
# i.e. if set to 1, this will be on three lines: { X = 10; Y = 12 }
# requires fsharp_record_multiline_formatter=number_of_items to take effect
# default 1
fsharp_max_record_number_of_items=1

# whether to use line-length (by counting chars) or items (by counting fields)
# for the record settings above
# either number_of_items or character_width
# default character_width
fsharp_record_multiline_formatter=character_width

# set maximal number of consecutive blank lines to keep from original source
# it doesn't change number of new blank lines generated by Fantomas
fsharp_keep_max_number_of_blank_lines=2
