#ignore thumbnails created by windows
Thumbs.db
.DS_Store
#Ignore files build by Visual Studio
docs/
docsBuild/
report/
test/
!src/test/
!Samples/ContinuousDeploymentWebsite/src/test/
obj/
build/
build-bundles/
nuget/
helpBuild/
Publish/
gems/
BuildMetrics/
[Bb]in
[Rr]elease*/
_ReSharper*/
*[Tt]est[Rr]esult*
*.suo
*/*.suo
*.user
*.userprefs
output.xml
FAKE.crunchsolution.cache
FAKE_mm_cache.bin
Samples/ContinuousDeploymentWebsite/src/app/Fake.Mvc/Properties/AssemblyInfo.cs
*.crunchsolution.cache
Samples/ContinuousDeploymentWebsite/Work/
Samples/ContinuousDeploymentWebsite/Backup/
Samples/ContinuousDeploymentWebsite/src/app/Fake_WebSite/Properties/AssemblyInfo.cs
*.ncrunchsolution
Samples/ContinuousDeploymentWebsite/deployments
tools/FAKE/
packages/
*.orig
deploy/
Samples/ContinuousDeploymentWebsite/tools/
gh-pages/
tools/FSharp.Formatting
tools/Microsoft.AspNet.Razor
tools/RazorEngine
!tools/FAKE/tools/FakeLib.dll
!tools/FAKE/tools/FakeLib.pdb
.gitignore
!integrationtests/.gitignore
_NCrunch_FAKE/
tools/FSharp.Compiler.Service
tools/FSharp.Formatting.CommandTool/
tools/SourceLink.Fake
.ionide/
/.vscode/settings.json
/temp

release.cmd
release.sh
*.pfx
Samples/typescript/out/
help/markdown/RELEASE_NOTES.md
paket.exe
paket-files/

# Ignore the Vagrant local directories
.vagrant/*
*/.vagrant/*
# Ignore VS2015 folder
.vs/
# Ignore JetBrains Rider folder
.idea/

mytemp
Samples/WebNpmGrunt/node_modules
.fake
project.lock.json

#src/app/*/any

/fake-dotnetcore
/fake-dotnetcore*.zip
/testbuild.fsx
/testbuild.fsx.lock
/src/legacy/deploy.web/Fake.Deploy.Web/App_Data/Providers/**/*.dll
/src/legacy/deploy.web/Fake.Deploy.Web/App_Data/Providers/**/*.pdb
/src/legacy/deploy.web/Fake.Deploy.Web/App_Data/Providers/**/*.xml
