#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
docs/
docsBuild/
report/
test/
!src/test/
!Samples/ContinuousDeploymentWebsite/src/test/
obj/
build/
build-bundles/
nuget/
helpBuild/
Publish/
gems/
BuildMetrics/
[Bb]in
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.suo
*/*.suo
*.user
output.xml
FAKE.crunchsolution.cache
FAKE_mm_cache.bin
Samples/ContinuousDeploymentWebsite/src/app/Fake.Mvc/Properties/AssemblyInfo.cs
*.crunchsolution.cache
Samples/ContinuousDeploymentWebsite/Work/
Samples/ContinuousDeploymentWebsite/Backup/
Samples/ContinuousDeploymentWebsite/src/app/Fake_WebSite/Properties/AssemblyInfo.cs
*.ncrunchsolution
Samples/ContinuousDeploymentWebsite/deployments
tools/FAKE/
src/deploy.web/Fake.Deploy.Web/App_Data/*
src/deploy.web/Fake.Deploy.Web/Logs/*
packages/
*.orig
deploy/
Samples/ContinuousDeploymentWebsite/tools/
src/deploy.web/Fake.Deploy.Web/Logs/Fake.Deploy.Web.log
gh-pages/
tools/FSharp.Formatting
tools/Microsoft.AspNet.Razor
tools/RazorEngine
