content: none
source http://nuget.org/api/v2

nuget FSharp.Core redirects:force
nuget Knockout
nuget RavenDB.Server
nuget serilog.sinks.nlog 1.5.4
nuget Argu 3.3.0
nuget FsCheck
nuget FsCheck.Xunit
nuget Unquote
nuget NUnit
nuget NUnit.Console
nuget Nancy.Authentication.Stateless
nuget Nancy.Hosting.Self
nuget Nancy.Serialization.JsonNet
nuget Nancy.Authentication.Forms
nuget Nancy.Hosting.Aspnet
nuget Nancy.Viewengines.Razor
nuget SSH.NET
nuget Microsoft.Web.Administration
nuget Mono.Web.Xdt
nuget Mono.Cecil
nuget Nuget.Core
nuget bootstrap
nuget Knockout.Mapping
nuget log4net
nuget System.Web.Razor.Unofficial
nuget toastr
nuget RavenDB.Client < 3
nuget Machine.Specifications.Should
nuget Machine.Specifications.Runner.Console
nuget Nancy.Testing
nuget xunit.runner.console
nuget xunit
nuget Newtonsoft.Json redirects:force
nuget Microsoft.AspNet.Razor 2.0.30506
nuget Microsoft.AspNet.WebPages 2.0.30506
nuget FluentMigrator.Runner
nuget HashLib
nuget FSharp.Compiler.Service
nuget Octokit
nuget Microsoft.Net.Http

github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs

group Build
content: none
source http://nuget.org/api/v2

nuget Nuget.CommandLine
nuget FAKE prerelease
nuget FSharp.Formatting
nuget FSharp.Formatting.CommandTool
nuget SourceLink.Fake
nuget ILRepack