source https://api.nuget.org/v3/index.json
content: none

group DocsLegacyV4
    source https://api.nuget.org/v3/index.json
    nuget FAKE ~> 4.0

group DocsLegacyV5
    source https://api.nuget.org/v3/index.json
    nuget FAKE ~> 5.0

group Build
    source https://api.nuget.org/v3/index.json
    content: none

    nuget FSharp.Core
    nuget NuGet.CommandLine
    nuget FSharp.Formatting ~> 4.1
    nuget FSharp.Formatting.CommandTool ~> 4.1
    nuget SourceLink.Fake
    nuget ILRepack
    nuget Newtonsoft.Json
    github fsharp/FAKE modules/Octokit/Octokit.fsx

// [ FAKE GROUP ]
group NetcoreBuild
    source https://api.nuget.org/v3/index.json
    // FAKE_MYGET_FEED (don't edit this line)
    framework: netstandard2.0, net6.0
    storage: none

    nuget FSharp.Control.Reactive
    nuget System.Reactive
    nuget FSharp.Core
    nuget Suave
    nuget System.AppContext prerelease
    nuget Paket.Core
    nuget Fake.Api.GitHub prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.Core.Target prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.Core.SemVer prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.BuildServer.AppVeyor prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.BuildServer.TeamCity prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.BuildServer.Travis prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.BuildServer.TeamFoundation prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.BuildServer.GitLab prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.IO.FileSystem prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.IO.Zip prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.Core.ReleaseNotes prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.AssemblyInfoFile prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.MsBuild prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.Cli prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.NuGet prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.Paket prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.FSFormatting prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.Testing.MSpec prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.Testing.XUnit2 prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.DotNet.Testing.NUnit prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.Windows.Chocolatey prerelease // FAKE_VERSION (don't edit this line)
    nuget Fake.Tools.Git prerelease // FAKE_VERSION (don't edit this line)
    nuget Mono.Cecil prerelease
    nuget Octokit
    nuget Newtonsoft.Json

// New group because of FSharp.Core 4.5 upgrade, see https://github.com/fsharp/FAKE/pull/2011
group netcorerunner
    source https://api.nuget.org/v3/index.json
    framework: net472, netstandard2.0, netcoreapp2.1, net6.0
    storage: none

    nuget FSharp.Core
    nuget Microsoft.Deployment.DotNet.Releases
    nuget Paket.Core
    nuget Mono.Cecil
    nuget Microsoft.NETCore.App framework: netstandard1.6, netstandard2.0, netcoreapp1.1
    nuget NETStandard.Library
    nuget Packaging.Targets
    nuget FSharp.Compiler.Service
    nuget System.Runtime.Loader

    // Testing
    nuget Expecto ~> 8
    nuget YoloDev.Expecto.TestSdk
    nuget Microsoft.TestPlatform.TestHost
    nuget Expecto.TestResults
    nuget Expecto.FsCheck
    nuget FsCheck
    nuget FParsec // commandline tests
    nuget Newtonsoft.Json

group netcore
    source https://api.nuget.org/v3/index.json
    framework: net472, netstandard2.0, netcoreapp2.1, net6.0
    storage: none

    nuget DotNet.Xdt
    nuget FSharp.Core
    nuget FSharp.Compiler.Service
    nuget System.Reactive
    nuget FParsec
    nuget Octokit
    nuget Newtonsoft.Json
    nuget Paket.Core
    nuget NuGet.Protocol
    nuget NuGet.Packaging
    nuget Mono.Cecil prerelease
    nuget Mono.Posix.NETStandard
    nuget FSharp.Control.Reactive
    nuget MSBuild.StructuredLogger
        nuget Microsoft.Build
        nuget Microsoft.Build.Framework
        nuget Microsoft.Build.Tasks.Core
        nuget Microsoft.Build.Utilities.Core
    nuget BlackFox.VsWhere


    nuget System.Runtime.Loader
    nuget System.Collections.Immutable
    nuget System.Data.SqlClient
    nuget Microsoft.SqlServer.SqlManagementObjects
