source "http://nuget.org/api/v2"

nuget "FAKE" "~> 3.4"
nuget "UnionArgParser" "~> 0.7"
nuget "FSharp.Formatting.CommandTool" "!~> 2.4"
nuget "SourceLink.Fake" "~> 0.3"
nuget "Nancy" "~> 0.22.2"
nuget "Nancy.Authentication.Stateless" "~> 0.22.2"
nuget "Nancy.Hosting.Self" "~> 0.22.2"
nuget "Nancy.Serialization.JsonNet" "~> 0.22.2"
nuget "SSH.NET" "~> 2013.4.7"
nuget "Microsoft.Web.Administration" ">= 7"
nuget "Microsoft.Web.Xdt" "~> 2.1.1"
nuget "Mono.Cecil" "~> 0.9"
nuget "Nuget.Core" "~> 2.8"
nuget "FSharp.Compiler.Service" ">= 0"
nuget "FsCheck.Xunit" ">= 0"
nuget "xunit.extensions" "~> 1.9"
nuget "Microsoft.Web.Xdt" "~> 2.1.1"
nuget "RavenDB.Client" ">= 0"
nuget "RavenDB.Server" ">= 0"
nuget "xunit.runners" "~> 1.9"
nuget "bootstrap" "~> 3.1.1"
nuget "jQuery" "~> 2.1.1"
nuget "Knockout.Mapping" "~> 2.4.0"
nuget "log4net" "~> 2.0.3"
nuget "Microsoft.AspNet.Razor" "~> 2.0.20715.0"
nuget "Nancy" "~> 0.22.2"
nuget "Nancy.Authentication.Forms" "~> 0.22.2"
nuget "Nancy.Hosting.Aspnet" "~> 0.22.2"
nuget "Nancy.Viewengines.Razor" "~> 0.22.2"
nuget "toastr" "~> 2.0.3"
nuget "Machine.Specifications" "~> 0.8.3"
nuget "Machine.Specifications.Should" "~> 0.7.2"
nuget "Nancy.Testing" "~> 0.22.2"
nuget "Nancy.Viewengines.Razor" "~> 0.22.2"