version 6.0
source https://api.nuget.org/v3/index.json
content: none

group Build
    source release/dotnetcore
    source https://api.nuget.org/v3/index.json
    content: none

    nuget FSharp.Core
    nuget Suave
    nuget NuGet.CommandLine
    nuget SourceLink.Fake
    nuget ILRepack
    nuget Newtonsoft.Json
    nuget System.Net.Http
    nuget Octokit


group fakerunner
    source https://api.nuget.org/v3/index.json
    framework: net472, netstandard2.0, netcoreapp2.1, net6.0
    storage: none

    nuget FSharp.Core
    nuget FSharp.Compiler.Service
    nuget Microsoft.Deployment.DotNet.Releases
    nuget NuGet.Packaging
    nuget Paket.Core
    nuget Mono.Cecil
    nuget Microsoft.NETCore.App framework: netstandard1.6, netstandard2.0, netcoreapp1.1
    nuget NETStandard.Library
    nuget Packaging.Targets
    nuget System.Runtime.Loader

    // Testing
    nuget Expecto
    nuget Expecto.TestResults
    nuget Expecto.FsCheck
    nuget YoloDev.Expecto.TestSdk
    nuget Microsoft.TestPlatform.TestHost
    nuget FsCheck
    nuget FParsec
    nuget Newtonsoft.Json

group fakemodule
    source https://api.nuget.org/v3/index.json
    framework: net472, netstandard2.0, netcoreapp2.1, net6.0
    storage: none

    nuget DotNet.Xdt
    nuget FSharp.Core
    nuget FSharp.Compiler.Service
    nuget System.Reactive
    nuget FParsec
    nuget Octokit
    nuget Newtonsoft.Json
    nuget Paket.Core
    nuget NuGet.Protocol
    nuget NuGet.Packaging
    nuget Mono.Cecil prerelease
    nuget Mono.Posix.NETStandard
    nuget FSharp.Control.Reactive
    nuget MSBuild.StructuredLogger
        nuget Microsoft.Build
        nuget Microsoft.Build.Framework
        nuget Microsoft.Build.Tasks.Core
        nuget Microsoft.Build.Utilities.Core
    nuget BlackFox.VsWhere
    nuget System.Runtime.Loader
    nuget System.Collections.Immutable
    nuget System.Data.SqlClient
    nuget Microsoft.SqlServer.SqlManagementObjects
