// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    //#if (dsl == "buildtask")
    nuget BlackFox.Fake.BuildTask
    //#endif