@{
  Layout = "template";
  ViewBag.CurrentPage = "APIReference";
}

<section id="content" class="section">
	<div class="columns">
		<div class="column is-9-desktop is-12-mobile">
			<article class="content">
							@if(!string.IsNullOrWhiteSpace(ViewBag.AssemblyName)){
								<p>
										This is part of the <a href="https://www.nuget.org/packages/@ViewBag.AssemblyName" >@ViewBag.AssemblyName</a> module.
								</p>
							}
                
							@RenderBody()
			</article>
		</div>

		<aside class="menu column is-3 is-hidden-touch">
			<ul class="menu-list"></ul>
		</aside>
	</div>
</section>
