@using Nancy.Security
@if (RenderContext.Context.CurrentUser.IsAuthenticated())
{
    
    <ul class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account @("(" + RenderContext.Context.CurrentUser.UserName + ")")
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <form method="post" action="/Account/LogOff" id="logoutForm">
                        @Html.AntiForgeryToken()
                    </form>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
                <li>
                    <a href="/Account/EditUser/@RenderContext.Context.CurrentUser.UserName">Manage Account</a>
                </li>
        </ul>
    </li>
</ul>
}
else
{
    <ul class="nav pull-right">
        <li>
            <a href="/Account/Login" id="loginLink">Log in</a>
        </li>
    </ul>
}



