@inherits NancyRazorViewBase<string>

@{
    ViewBag.Title = "Agent";
    Layout = "_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/app/Home.Agent.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var vm = new AgentViewModel();
            vm.build('@Model');
            ko.applyBindings(vm);
        });
    </script>
}

<div class="page-header">
    <!-- ko with: agent -->
    <h1 data-bind="text: 'Agent - ' + name()" style="display: inline"></h1>
    <!-- /ko -->
    <!-- ko with: agentStatus -->
    <h4 data-bind="text: statusMessage, style: { color: available() }" style="display: inline; margin-left: 10px"></h4>
    <!-- /ko -->
</div>

<div data-bind="visible: agentStatus().available()">
    <div class="row">
        <form id="fileupload" class="col-md-12" action="/api/v1/package/deploy" method="POST" enctype="multipart/form-data">
            <div id="selectPackageBtn" class="btn btn-success fileinput-button" style="margin-bottom: 10px;">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Deploy Package</span>
                <input type="file" name="files[]">
            </div>
            <div id="filePlaceHolder" class="modal hide fade">
                <div class="modal-header">
                    <span id="fileName" style="padding: 10px"><i class="icon-file"></i></span>
                </div>
                <div class="modal-body">
                    <div id="progress" class="progress progress-striped active">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            <div data-bind="with: agent">
                <input type="hidden" name="agentId" data-bind="value: id" />
                <input type="hidden" name="agentUrl" data-bind="value: address" />
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#deployments" data-toggle="tab">Deployments</a>
                    </li>
                    <li><a href="#details" data-toggle="tab">Agent Details</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="deployments">
                        <div class="well" data-bind="foreach: deployments">
                            <div>
                                <h4 data-bind="text: name"></h4>
                                <p>
                                    <span data-bind="text: description"></span>
                                </p>
                                <div data-bind="if: $root.agentStatus().available">
                                    <form data-bind="submit: $root.rollbackDeployment">
                                        <input type="hidden" name="agentUrl" data-bind="value: $root.agent().address" />
                                        <input type="hidden" name="appName" data-bind="value: id" />
                                        <input type="hidden" name="version" value="HEAD~1" />
                                        <button class="btn btn-primary" type="submit">Rollback to Previous</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="details">
                        <div data-bind="with: agentDetails">
                            <div class="well">
                                <dl class="dl-horizontal">
                                    <dt>Machine Name:</dt>
                                    <dd data-bind="text: machineName"></dd>
                                    <dt>Agent version</dt>
                                    <dd data-bind="text: agentVersion"></dd>
                                    <dt>User Name:</dt>
                                    <dd data-bind="text: userDomainName"></dd>
                                    <dt>64 bit Architecture:</dt>
                                    <dd data-bind="text: is64bit"></dd>
                                    <dt>Processor Count:</dt>
                                    <dd data-bind="text: processorCount"></dd>
                                    <dt>Operating System:</dt>
                                    <dd data-bind="text: operatingSystem"></dd>
                                    <dt>Installed Frameworks:</dt>
                                    <dd>
                                        <ul data-bind="foreach: nETFrameworks">
                                            <li data-bind="text: $data"></li>
                                        </ul>
                                    </dd>
                                    <dt>Drive Info:</dt>
                                    <dd>
                                        <ul data-bind="foreach: driveInfo">
                                            <li data-bind="text: $data"></li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div style="height: 400px; overflow: auto; padding:5px; background-color: #f5f5f5">
                <!-- ko if: recentMessages().length > 0 -->
                <div id="messages" data-bind="foreach: recentMessages">
                    <p>
                        <span class="text-muted" data-bind="date: timestamp"></span>&nbsp;&nbsp;
                        <span data-bind="css: { 'text-error': isError,  'text-success': !isError}, text: message"></span>
                    </p>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: recentMessages().length > 0 -->
                <h3 class="text-muted" style="text-align:center">No Messages</h3>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<div id="rollbackDialog" class="modal hide fade">
    <div class="modal-header">
        <h4 style="padding: 10px">
            Rolling Back
        </h4>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>


<div class="row" data-bind="visible: !agentStatus().available()">
    <h1 style="color: #eeeeee; text-align: center">Agent Unavailable</h1>
</div>
