@inherits NancyRazorViewBase
@{
    ViewBag.Title = "Summary";
    Layout = "_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/app/Home.Index.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var vm = new IndexViewModel();
            vm.build();
            ko.applyBindings(vm);
        });
    </script>
}

 <ul id="envTabs" class="nav nav-tabs" data-bind="foreach: environments">
     <li><a data-bind="attr: { href: '#' + id(), Id: 'tab_' + id(), title: description }, text: name, click: $parent.changedTab" data-toggle="tab"></a></li>
 </ul>
 <div class="tab-content" data-bind="foreach: environments">
     <div class="tab-pane" data-bind="attr: { id: id }">
         <h3 data-bind="text: description"></h3>
         <div id="agents" data-bind="foreach: agents">
             <div>
                 <a class="thumbnail" style="cursor: pointer" data-bind="attr: { href: '/Agent/' + id(), Description: id }">
                     <img data-bind="attr: {src: '/img/server' + status() + '.png', alt: 'server ' + status()}" width="64" />
                     <h4 data-bind="text: name" style="text-align: center"></h4>
                 </a>
             </div>
         </div>
     </div>
 </div>
