@{
    ViewBag.Title = "Register an Agent";
    Layout = "_layout.cshtml";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/app/Admin.Agent.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var vm = new AgentAdminViewModel();
            vm.build();
            ko.applyBindings(vm);
        });
    </script>
}

<div class="page-header">
    <h2>Manage agents</h2>
</div>

<div>
    <div class="col-md-6">
        <form class="form-horizontal" data-bind="submit: $root.registerAgent">
            <fieldset>
                <legend>Create Agent</legend>
                <div class="form-group">
                    <label class="control-label" for="environmentId">Environment</label>
                        <select id="environmentId" name="environmentId" class="form-control" data-bind="options: environments, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Choose...'">
                        </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="agentName">Agent Name</label>

                    <input type="text" class="form-control" id="agentName" name="name" placeholder="Enter agent name...">
                </div>
                <div class="form-group">
                    <label class="control-label" for="agentUrl">Agent Url</label>
                    <input type="text" class="form-control" id="agentUrl" name="address" placeholder="Enter agent base url...">
                </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="reset" class="btn">Cancel</button>
            </fieldset>
        </form>
    </div>

    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: agents">
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: address"></td>
                    <td>
                        <button class="btn btn-danger" data-bind="click: $root.deleteAgent">
                            <i class="glyphicon-trash"></i>&nbsp;Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
