@model string[]

@{
    ViewBag.Title = "Manage Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Roles</h2>

<table>
    <thead>
        <tr>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role</td>
                <td>
                    @using (Html.BeginForm("DeleteRole", "Account", new { roleName = @role }, FormMethod.Post))
                    {
                        <a href="#" class="btn btn-error" onclick="if (confirm('Are you sure?')) { $(this).parents('form').submit(); } return false;"><i class="icon-trash icon-white"></i>&nbsp;Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("DoManageRoles", "Account"))
{
    <div>
        <fieldset>
            <legend>Add new role</legend>
            <div class="control-group">
                <label class="control-label">Role</label>
                <div class="controls">
                    @Html.TextBox("roleName")
                    @Html.ValidationMessage("roleName")
                </div>
            </div>

            <p>
                <button class="btn btn-primary" type="submit"><i class="icon-ok-circle icon-white"></i>&nbsp;Save</button>
                <button class="btn btn-danger" type="reset"><i class="icon-remove icon-white"></i>&nbsp;Cancel</button>
            </p>
        </fieldset>
    </div>
}
