<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.1.1" targetFramework="net40" />
  <package id="jQuery" version="2.1.1" targetFramework="net40" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net40" />
  <package id="knockoutjs" version="3.1.0" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net40" />
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Authentication.Forms" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.22.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
  <package id="toastr" version="2.0.3" targetFramework="net40" />
</packages>