@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>

    <script>

        function pollInit() {
            $.getJSON('@Url.Action("InitStatus")', null, function (data) {
                if (data.Complete) {
                    $('#gotoApp').show();
                }
            });
        }

        $(function () {
            setInterval(pollInit, 3000);
        });
    </script>
}

<h1 style="text-align: center">Initialising</h1>
<a id="gotoApp" style="display: none" class="btn btn-primary" href="@Url.Action("Index", "Home")">Start Application</a>
