@{
  Layout = "template";
  ViewBag.CurrentPage = "APIReference";
  var urlName = ((string)ViewBag.UrlName) ?? "index";
  var newUrl = string.Format("/apidocs/v5/legacy/{0}.html", urlName);
}

<section id="content" class="section">
	<div class="columns">
		<div class="column is-9-desktop is-12-mobile">            
			<article class="content">
                <div class="notification">
                    Note: This API documentation is for FAKE version 4. The migration API documentation can be found 
                    <a href="@newUrl">here</a>. The API documentation for the new fake 5 modules can be found 
                    <a href="/apidocs/v5/index.html">here</a>
                </div>

                @RenderBody()
			</article>
		</div>

		<aside class="menu column is-3 is-hidden-touch">
			<ul class="menu-list"></ul>
		</aside>
	</div>
</section>