@{
  Layout = "template";
  ViewBag.CurrentPage = "APIReference";
  var urlName = ((string)ViewBag.UrlName) ?? "index";
  var newUrl = string.Format("/apidocs/v5/{0}.html", urlName);
}

<section id="content" class="section">
	<div class="columns">
		<div class="column is-9-desktop is-12-mobile">            
			<article class="content">
                <div class="notification">
                    Note: This is the migration API reference for FAKE 5. The new (modularized) API documentation can be found 
                    <a href="/apidocs/v5/index.html">here</a>.
                    If the API is already migrated you can check <a href="@newUrl">here if exists in a module</a>.
                    More information regarding the migration can be found <a href="/fake-migrate-to-fake-5.html">here</a>
                </div>

                @RenderBody()
			</article>
		</div>

		<aside class="menu column is-3 is-hidden-touch">
			<ul class="menu-list"></ul>
		</aside>
	</div>
</section>