@{
  Layout = "template";
  //Description = Properties["project-summary"];
  
  // Properties["current-page"] = "APIReference";
  ViewBag.CurrentPage = "APIReference";
  ViewBag.PathPrefix = "../";
}

					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div id="content">

									<!-- Content -->
                      <article>
          			@RenderBody()
                      </article>
								</div>
							</div>
						</div>
					</div>
