@{
	Layout = "template";
	Title = Properties["page-title"];
	ViewBag.CurrentPage = "APIReference";
}

<section id="content" class="section">
	<div class="columns">
		<div class="column is-9-desktop is-12-mobile">
			<article class="content">
				@Properties["document"]
				@Properties["tooltips"]
			</article>
		</div>

		<aside class="menu column is-3 is-hidden-touch">
			<ul class="menu-list"></ul>
		</aside>
	</div>
</section>