<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
	<title>@Title</title>
	<meta charset="utf-8" />

	<!-- from https://realfavicongenerator.net -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#ffffff">


	<meta name="author" content="@Properties["project-author"]" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
	<link rel="stylesheet" href="/assets/css/bulmaswatch.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism-tomorrow.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/toolbar/prism-toolbar.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
	<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item no-hover" href="/">
				<img src="/assets/img/logo.svg" alt="FAKE - F# Make - A DSL for build tasks and more" width="28" height="28">
				<span class="p-l-sm">FAKE</span>
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbar" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">Tutorials</a>
					<div class="navbar-dropdown">
						<a href="/fake-gettingstarted.html" class="navbar-item">Getting started</a>
						<a href="/fake-commandline.html" class="navbar-item">Running FAKE from command line</a>
						<a href="/fake-template.html" class="navbar-item">FAKE template</a>
						<a href="/fake-debugging.html" class="navbar-item">Debugging scripts</a>
                        <a href="/fake-completion.html" class="navbar-item">FAKE command-line completion</a>
						<a href="/fake-fake5-custom-modules.html" class="navbar-item">Create custom modules</a>
					</div>
				</div>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">About</a>
					<div class="navbar-dropdown" class="navbar-item">
						<a href="/help-users.html" class="navbar-item">Who is using FAKE?</a>
						<a href="/fake-what-is-fake.html" class="navbar-item">FAQ?</a>
						<a href="/help-supporters.html" class="navbar-item">Supporters</a>
						<a href="https://www.nuget.org/packages/FAKE" class="navbar-item">NuGet</a>
						<a href="https://chocolatey.org/packages/fake" class="navbar-item">Chocolatey</a>
						<a href="https://github.com/fsharp/FAKE/blob/master/License.txt" class="navbar-item">License</a>
						<a href="/RELEASE_NOTES.html" class="navbar-item">Release Notes</a>
						<a href="/contributing.html" class="navbar-item">Contributing</a>
						<a href="https://github.com/fsharp/FAKE/issues/new" class="navbar-item">Ask a question or
							report a bug</a>
					</div>
				</div>

				<div class="navbar-item has-dropdown is-hoverable">
					<a href="/fake-fake5-modules.html" class="navbar-link">Modules</a>
					<div class="navbar-dropdown" class="navbar-item">
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.Api" class="navbar-link">API</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/api-slack.html" class="navbar-item">Slack</a>
								<a href="/apidocs/v5/fake-api-github.html" class="navbar-item">GitHub</a>
								<a href="/apidocs/v5/fake-api-hockeyapp.html" class="navbar-item">HockeyApp</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.Azure" class="navbar-link">Azure</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/fake-azure-cloudservices.html" class="navbar-item">CloudServices</a>
								<a href="/apidocs/v5/fake-azure-emulators.html" class="navbar-item">Emulators</a>
								<a href="/apidocs/v5/fake-azure-kudu.html" class="navbar-item">Kudu</a>
								<a href="/apidocs/v5/fake-azure-webjobs.html" class="navbar-item">WebJobs</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/buildserver.html" class="navbar-link">BuildServer</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/index.html#Fake.BuildServer" class="navbar-item">Api-Reference</a>
								<a href="/apidocs/v5/fake-buildserver-appveyor.html" class="navbar-item">AppVeyor</a>
								<a href="/apidocs/v5/fake-buildserver-teamfoundation.html" class="navbar-item">Azure
									DevOps</a>
								<a href="/apidocs/v5/fake-buildserver-gitlab.html" class="navbar-item">GitLab</a>
								<a href="/apidocs/v5/fake-buildserver-githubactions.html" class="navbar-item">GitHub Actions</a>
								<a href="/apidocs/v5/fake-buildserver-teamcity.html" class="navbar-item">TeamCity</a>
								<a href="/apidocs/v5/fake-buildserver-travis.html" class="navbar-item">Travis</a>
								<a href="/apidocs/v5/fake-buildserver-bitbucketpipelines.html" class="navbar-item">Bitbucket</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/core.html" class="navbar-link">Core</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/fake-core-buildserver.html" class="navbar-item">BuildServer</a>
								<a href="/apidocs/v5/fake-core-changelog.html" class="navbar-item">ChangeLog</a>
								<a href="/core-commandlineparsing.html" class="navbar-item">CommandLineParsing</a>
								<a href="/apidocs/v5/fake-core-context.html" class="navbar-item">Context</a>
								<a href="/apidocs/v5/fake-core-environment.html" class="navbar-item">Environment</a>
								<a href="/core-process.html" class="navbar-item">Process</a>
								<a href="/apidocs/v5/fake-core-releasenotes.html" class="navbar-item">ReleaseNotes</a>
								<a href="/apidocs/v5/fake-core-semver.html" class="navbar-item">SemVer</a>
								<a href="/apidocs/v5/fake-core-string.html" class="navbar-item">String</a>
								<a href="/core-targets.html" class="navbar-item">Targets</a>
								<a href="/apidocs/v5/fake-core-taskrunner.html" class="navbar-item">Tasks</a>
								<a href="/core-trace.html" class="navbar-item">Trace</a>
								<a href="/apidocs/v5/fake-core-userinput.html" class="navbar-item">UserInput</a>
								<a href="/core-vault.html" class="navbar-item">Vault</a>
								<a href="/apidocs/v5/fake-core-xml.html" class="navbar-item">Xml</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.Documentation" class="navbar-link">Documentation</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/fake-documentation-docfx.html" class="navbar-item">DocFx</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.DotNet" class="navbar-link">DotNet</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/dotnet-cli.html" class="navbar-item">Cli</a>
								<a href="/dotnet-assemblyinfo.html" class="navbar-item">AssemblyInfoFile</a>
								<a href="/apidocs/v5/fake-dotnet-fsc.html" class="navbar-item">Fsc</a>
								<a href="/apidocs/v5/fake-dotnet-fsi.html" class="navbar-item">Fsi</a>
								<a href="/apidocs/v5/fake-dotnet-fxcop.html" class="navbar-item">FxCop</a>
								<a href="/apidocs/v5/fake-dotnet-msbuild.html" class="navbar-item">MSBuild</a>
								<a href="/apidocs/v5/fake-dotnet-ilmerge.html" class="navbar-item">ILMerge</a>
								<a href="/apidocs/v5/fake-dotnet-testing-nunit3.html" class="navbar-item">Testing -
									NUnit</a>
								<a href="/apidocs/v5/fake-dotnet-testing-mspec.html" class="navbar-item">Testing -
									MSpec</a>
								<a href="/apidocs/v5/fake-dotnet-testing-xunit2.html" class="navbar-item">Testing -
									XUnit2</a>
								<a href="/apidocs/v5/fake-dotnet-testing-expecto.html" class="navbar-item">Testing -
									Expecto</a>
								<a href="/apidocs/v5/fake-dotnet-testing-vstest.html" class="navbar-item">Testing -
									VSTest</a>
								<a href="/fake-dotnet-testing-specflow.html" class="navbar-item">Testing - SpecFlow</a>
								<a href="/dotnet-testing-opencover.html" class="navbar-item">Testing - OpenCover</a>
								<a href="/apidocs/v5/fake-dotnet-testing-dotcover.html" class="navbar-item">Testing -
									DotCover</a>
								<a href="/dotnet-testing-coverlet.html" class="navbar-item">Testing -
									Coverlet</a>
								<a href="/dotnet-nuget.html" class="navbar-item">NuGet</a>
								<a href="/apidocs/v5/fake-dotnet-mage.html" class="navbar-item">Mage</a>
								<a href="/apidocs/v5/fake-dotnet-paket.html" class="navbar-item">Paket</a>
								<a href="/apidocs/v5/fake-dotnet-xdt.html" class="navbar-item">XML Transforms</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/core-targets.html" class="navbar-link">DSL</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="https://github.com/vbfox/FoxSharp/blob/master/src/BlackFox.Fake.BuildTask/Readme.md" class="navbar-item">BlackFox.Fake.BuildTask</a>
								<a href="https://github.com/xakebuild/Xake" class="navbar-item">Xake</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/index.html#Fake.Installer" class="navbar-link">Installer</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/fake-installer-innosetup.html" class="navbar-item">InnoSetup</a>
								<a href="/fake-installer-squirrel.html" class="navbar-item">Squirrel</a>
								<a href="/apidocs/v5/fake-installer-wix.html" class="navbar-item">Wix</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/index.html#Fake.IO" class="navbar-link">IO</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/index.html#Fake.IO" class="navbar-item">FileSystem</a>
								<a href="/apidocs/v5/fake-io-changewatcher.html" class="navbar-item">Change Watcher</a>
								<a href="/apidocs/v5/fake-io-globbing-operators.html" class="navbar-item">Globbing</a>
								<a href="/apidocs/v5/fake-io-zip.html#Functions and values" class="navbar-item">Zip</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.JavaScript" class="navbar-link">JavaScript</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/fake-javascript-npm.html" class="navbar-item">Npm</a>
								<a href="/apidocs/v5/fake-javascript-yarn.html" class="navbar-item">Yarn</a>
								<a href="/apidocs/v5/fake-javascript-typescript.html" class="navbar-item">TypeScript</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.Net" class="navbar-link">Net</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/net-http.html" class="navbar-item">Http</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.Sql" class="navbar-link">Sql</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/sql-dacpac.html" class="navbar-item">DacPac</a>
								<a href="/sql-sqlpackage.html" class="navbar-item">SqlPackage</a>
								<a href="/sql-sqlserver.html" class="navbar-item">SQL Server</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.Testing" class="navbar-link">Testing</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/testing-sonarqube.html" class="navbar-item">SonarQube</a>
                                <a href="/testing-reportgenerator.html" class="navbar-item">ReportGenerator</a>
                                <a href="/testing-fixie.html" class="navbar-item">Fixie</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.Tools" class="navbar-link">Tools</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/index.html#Fake.Tools.Git" class="navbar-item">Git</a>
								<a href="/fake-tools-pickles.html" class="navbar-item">Pickles</a>
								<a href="/fake-tools-octo.html" class="navbar-item">Octo</a>
								<a href="/apidocs/v5/fake-tools-rsync.html" class="navbar-item">Rsync</a>
								<a href="/fake-tools-signtool.html" class="navbar-item">SignTool</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/index.html#Fake.Windows" class="navbar-link">Windows</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/windows-chocolatey.html" class="navbar-item">Chocolatey</a>
							</div>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/apidocs/v5/fake-windows-registry.html" class="navbar-item">Registry</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a href="/apidocs/v5/legacy/index.html#Fake" class="navbar-link">Legacy / Not Migrated</a>
							<div class="navbar-dropdown" class="navbar-item">
								<a href="/todo-fluentmigrator.html" class="navbar-item">?.?.FluentMigrator</a>
								<a href="/todo-androidpublisher.html" class="navbar-item">?.?.AndroidPublisher</a>
								<a href="/todo-wix.html" class="navbar-item">Windows.WiX</a>
								<a href="/todo-msteamsnotification.html" class="navbar-item">API.MsTeams</a>
								<a href="/todo-stylecop.html" class="navbar-item">DotNet.StyleCop</a>
								<a href="/todo-deploy.html" class="navbar-item">Fake.Deploy</a>
								<a href="/todo-iis.html" class="navbar-item">?.?.IIS</a>
								<a href="/todo-vagrant.html" class="navbar-item">?.?.Vagrant</a>
								<a href="/todo-fxcop.html" class="navbar-item">DotNet.FxCop</a>
								<a href="/todo-canopy.html" class="navbar-item">DotNet.Testing.Canopy</a>
								<a href="/todo-octopusdeploy.html" class="navbar-item">?.?.OctopusDeploy</a>
								<a href="/todo-typescript.html" class="navbar-item">JavaScript?.TypeScript</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item has-dropdown is-hoverable">
					<a href="/apidocs/v5/index.html" class="navbar-link">API Reference</a>
					<div class="navbar-dropdown is-right">
						<a href="/apidocs/v5/index.html" class="navbar-item">FAKE 5 API Reference</a>
						<a href="/apidocs/v5/legacy/index.html" class="navbar-item">FAKE 5 Migration API</a>
						<a href="/apidocs/v4/index.html" class="navbar-item">FAKE 4 API Reference</a>
					</div>
				</div>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">FAKE 4</a>
					<div class="navbar-dropdown is-right">
						<a href="/fake-migrate-to-fake-5.html" class="navbar-item">FAKE migration</a>
						<a href="/legacy-gettingstarted.html" class="navbar-item">Getting started</a>
						<a href="/help-docs.html" class="navbar-item">Where is XYZ???</a>
						<a href="/legacy-commandline.html" class="navbar-item">Running FAKE from command line</a>
						<a href="/legacy-core-targets.html" class="navbar-item">Targets</a>
						<a href="/fake-cache.html" class="navbar-item">Build script caching</a>
					</div>
				</div>
				<div class="navbar-item no-hover">
					<div class="buttons">
						<a href="https://github.com/fsharp/FAKE" class="m-r-sm">
							<i class="fab fa-github fa-lg fa-fw"></i>
						</a>
						<a href="https://twitter.com/fsharpMake" class="m-r-sm">
							<i class="fab fa-twitter fa-lg fa-fw"></i>
						</a>
						<a href="https://fsharp.slack.com/" class="m-r-sm">
							<i class="fab fa-slack fa-lg fa-fw"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	@RenderBody()

	<footer>
		<div class="hero is-dark">
			<div class="hero-body">
				<div class="container">
					<div class="columns">
						<div class="column is-6">
							<div class="columns">
								<div class="column is-6">
									<h4 class="title is-4">Important links</h4>
									<ul class="has-text-grey-light">
										<li><a href="/fake-gettingstarted.html">Getting started</a></li>
										<li><a href="/fake-fake5-modules.html">Modules</a></li>
										<li><a href="/fake-fake5-modules.html#Declaring-FAKE-5-dependencies-within-the-script">FAKE Header</a></li>
									</ul>
								</div>
								<div class="column is-6">
									<h4 class="title is-4">Further projects</h4>
									<ul class="has-text-grey-light">
										<li><a href="https://fsprojects.github.io/Paket/">Paket</a></li>
										<li><a href="https://fsprojects.github.io/FSharp.Formatting/">FSharp Formatting</a></li>
										<li><a href="http://fsharp.org/">F#</a></li>
										<li><a href="http://ionide.io/">Ionide</a></li>
										<li><a href="http://forge.run/">Forge</a></li>
										<li><a href="https://fsharp.github.io/FSharp.Compiler.Service/">FSharp.Compiler.Service</a></li>
									</ul>
								</div>
							</div>
							<div class="p-t-lg has-text-grey-light">© FAKE. All rights reserved | Page generated with Version: <a href="https://github.com/fsharp/FAKE/releases">@Properties["version"]</a></div>
						</div>
						<div class="column is-6">
							<h4 class="title is-4">FAKE is a community effort</h4>
							<p>Please help with the development of FAKE, a free, fully open source DSL and Runtime for
								running F# scripts. Look at the open issues at <a href="https://github.com/fsharp/FAKE/issues">GitHub</a>,
								discuss new features, fix bugs and
								send pull requests!</p>
							<a href="/contributing.html" class="button is-light is-medium m-t-md">Learn more</a>

							<h4 class="title is-4 m-t-lg">Get in touch</h4>

							<div class="footer-contact">
								<div class="columns">
									<div class="column is-2">Twitter</div>
									<div class="column is-6"><a href="https://twitter.com/fsharpMake">@@fsharpMake</a></div>
								</div>
								<div class="columns">
									<div class="column is-2">WWW</div>
									<div class="column is-6"><a href="https://fake.build">fake.build</a></div>
								</div>
								<div class="columns">
									<div class="column is-2">GitHub</div>
									<div class="column is-6"><a href="https://github.com/fsharp/FAKE">GitHub</a></div>
								</div>
								<div class="columns">
									<div class="column is-2">F# Slack</div>
									<div class="column is-6"><a href="https://fsharp.slack.com/">Slack</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-fsharp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-bash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-batch.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-json.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/toolbar/prism-toolbar.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
	<script src="/assets/js/tips.js" type="text/javascript"></script>
	<script src="/assets/js/bulma.js"></script>
</body>

</html>
