source https://api.nuget.org/v3/index.json
storage: none
//source https://ci.appveyor.com/nuget/paket
source ../../../release/dotnetcore

nuget Fake.Runtime prerelease
nuget FSharp.Core prerelease
nuget Microsoft.NETCore.App