<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerName" value="localhost" />
    <add key="Port" value="*" />
    <add key="WorkDirectory" value="." />
    <add key="LogDirectory" value="~/log" />
    <add key="Authorization" value="Off" />
    <add key="AuthorizedKeysFile" value="~/.ssh/authorized_keys" />
    <!--
    <add key="Authorization" value ="On" />
    <add key="AuthorizedKeysFile" value="..\..\..\..\test\Test.Fake.Deploy\TestData\authorized_keys" />
    -->
  </appSettings>
  
  
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="4.4.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="8.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>