<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
  <package id="Nancy.Authentication.Stateless" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Serialization.JsonNet" version="0.22.2" targetFramework="net40" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net40" />
</packages>
